<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        .container
            .UI-block.standard-buttons
                .UI-block__header.standard-buttons__header Standard buttons
                .UI-block__content
                    .UI-block__grp.standard-buttons__grp
                        button.standard-buttons__button.standard-buttons__button_green Button
                        button.standard-buttons__button.standard-buttons__button_green.standard-buttons__button_big Button
                        button.standard-buttons__button.standard-buttons__button_green.standard-buttons__button_shadowed Button
                        button.standard-buttons__button.standard-buttons__button_green.standard-buttons__button_shadowed.standard-buttons__button_big Button
                        button.standard-buttons__button.standard-buttons__button_white-green Button
                        button.standard-buttons__button.standard-buttons__button_white-green.standard-buttons__button_big Button
                    .UI-block__grp.standard-buttons__grp
                        button.standard-buttons__button.standard-buttons__button_orange Button
                        button.standard-buttons__button.standard-buttons__button_orange.standard-buttons__button_big Button
                        button.standard-buttons__button.standard-buttons__button_orange.standard-buttons__button_shadowed Button
                        button.standard-buttons__button.standard-buttons__button_orange.standard-buttons__button_shadowed.standard-buttons__button_big Button
                        button.standard-buttons__button.standard-buttons__button_white-orange Button
                        button.standard-buttons__button.standard-buttons__button_white-orange.standard-buttons__button_big Button
            .UI-block.arrow-buttons
                .UI-block__header.standard-buttons__header Arrow buttons
                .UI-block__content
                    .UI-block__grp
                        button.arrow-buttons__button.arrow-buttons__button_bordered
                            .arrow-buttons__arrow
                        button.arrow-buttons__button.arrow-buttons__button_bordered
                            .arrow-buttons__arrow
                    .UI-block__grp
                        button.arrow-buttons__button.arrow-buttons__button_disabled
                            .arrow-buttons__arrow
                        button.arrow-buttons__button.arrow-buttons__button_disabled
                            .arrow-buttons__arrow
                    .UI-block__grp
                        button.arrow-buttons__button
                            .arrow-buttons__arrow
                        button.arrow-buttons__button
                            .arrow-buttons__arrow